<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv = "X-UA-Compatible" content = "IE=Edge,chrome=1" >
    <title>{{name}}</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="images/favicon.png" type="image/png" >
    
    <link rel="stylesheet" href="bower_components/lib/angular-ui-bootstrap/bootstrap.min.css">

    <!-- inject:css -->
    <!-- endinject -->
    <!-- bower:css -->
    <!-- endinject -->
    
    <script src="bower_components/lib/requirejs/require.js"></script>
    <script>
        var config = 'app/common/config.js?v='+Math.random();
        require([config], function () {
            require(['app/common/entry']);
        });  
    </script>
</head>
<body>
    <div style="width:100%;height:100%" ui-view>

    </div>
</body>
</html>


